
{% load static %}
{% block header %}
<header class="header">
    <div class="headerTop mainContainer">
        <div class="leftPanel">
            <div class="lang">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    RU
                </button>
            </div>
        </div>

        <a class="navbar-brand" href="">
            <img class="navbar-brand__logo"
                 src="https://cdn-icons-png.flaticon.com/64/2190/2190394.png"
                 alt="Logo - AMBAX">
        </a>

        <div class="rightPanel">
            <div class="socialIcons">
                <p>
                    <a href="" target="_blank">
                        <img src="https://cdn-icons-png.flaticon.com/16/2190/2190394.png" alt="Home page">
                    </a>
                    <a href="https://www.instagram.com" target="_blank">
                        <img src="https://cdn-icons-png.flaticon.com/16/2111/2111463.png"
                             alt="Hotel instagram">
                    </a>
                    <a href="https://t.me/" target="_blank">
                        <img src="https://cdn-icons-png.flaticon.com/16/3536/3536661.png" alt="Hotel Telegram">
                    </a>
                    <a href="https://www.facebook.com" target="_blank">
                        <img src="https://cdn-icons-png.flaticon.com/16/174/174848.png" alt="Hotel facebook">
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="headerBottom">
        <div class="mainContainer">
            <nav class="navbar">
                <ul id="menu-menu-glowne-pl" class="navbar-nav">
                    <li id="menu-item-3617" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-3617 active  nav-item dropdown active">
                        <a href="https://www.desilva.pl/pruszkow/" class="nav-link hvr-underline-from-center" data-toggle="dropdown">Hotel</a>
                        <div class="dropdown-menu">
                            <a href="https://www.desilva.pl/pruszkow/" class="nav-link hvr-underline-from-center">O hotelu</a>
                            <a href="https://www.desilva.pl/pruszkow/pokoje/" class="nav-link hvr-underline-from-center">Pokoje</a>
                        </div>
                    </li>
                    <li id="menu-item-2767" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2767 nav-item dropdown">
                        <a href="https://www.desilva.pl/pruszkow/restauracja-bar/" class="nav-link hvr-underline-from-center" data-toggle="dropdown">Restauracja</a>
                        <div class="dropdown-menu">
                            <a href="https://www.desilva.pl/pruszkow/restauracja-bar/" class="nav-link hvr-underline-from-center">Restauracja i bar</a>
                            <a href="https://www.desilva.pl/pruszkow/bankiety/" class="nav-link hvr-underline-from-center">Bankiety</a>
                        </div>
                    </li>
                    <li id="menu-item-2770" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2770 nav-item dropdown">
                        <a href="https://www.desilva.pl/pruszkow/konferencje/" class="nav-link hvr-underline-from-center" data-toggle="dropdown">Dla biznesu</a>
                        <div class="dropdown-menu">
                            <a href="https://www.desilva.pl/pruszkow/konferencje/" class="nav-link hvr-underline-from-center">Konferencje</a>
                            <a href="https://www.desilva.pl/pruszkow/hybryda-w-desilva/" class="nav-link hvr-underline-from-center">Hybryda w DeSilva</a>
                        </div>
                    </li>
                    <li id="menu-item-2771" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2771 nav-item dropdown">
                        <a href="https://www.desilva.pl/pruszkow/oferty-specjalne/" class="nav-link hvr-underline-from-center" data-toggle="dropdown">Oferty specjalne</a>
                        <div class="dropdown-menu">
                            <a href="https://www.desilva.pl/pruszkow/oferty-specjalne/" class="nav-link hvr-underline-from-center">Oferty specjalne</a>
                            <a href="https://www.desilva.pl/pruszkow/vouchery/" class="nav-link hvr-underline-from-center">Vouchery</a>
                        </div>
                    </li>
                    <li id="menu-item-2773" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2773 nav-item">
                        <a href="https://www.desilva.pl/pruszkow/galeria/" class="nav-link hvr-underline-from-center">Galeria</a>
                    </li>
                    <li id="menu-item-2774" class="menuHeader-orange menu-item menu-item-type-post_type menu-item-object-page menu-item-2774 nav-item">
                        <a href="https://www.desilva.pl/pruszkow/bezpiecznyhotel/" class="nav-link hvr-underline-from-center">#bezpiecznyhotel</a>
                    </li>
                    <li id="menu-item-137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-137 nav-item dropdown">
                        <a href="https://www.desilva.pl/pruszkow/kontakt/" class="nav-link hvr-underline-from-center" data-toggle="dropdown">Kontakt</a>
                        <div class="dropdown-menu">
                            <a href="https://www.desilva.pl/pruszkow/kontakt/" class="nav-link hvr-underline-from-center">Kontakt</a>
                            <a href="https://www.desilva.pl/pruszkow/praca-w-hotelu/" class="nav-link hvr-underline-from-center">Praca w hotelu</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
{% endblock %}